[
  {
    "login": "nicolas.maurin",
    "h": "REPLACE_WITH_PASSWORD_HASH",
    "rw": true
  },
  {
    "login": "exemple.utilisateur",
    "h": "REPLACE_WITH_PASSWORD_HASH",
    "rw": false,
    "rwApps": ["planning-web", "repartition"],
    "denyApps": []
  }
]
